@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/Helvetica-R/HelveticaNeue.eot');
    src: url('fonts/Helvetica-R/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica-R/HelveticaNeue.woff') format('woff'),
        url('fonts/Helvetica-R/HelveticaNeue.ttf') format('truetype'),
        url('fonts/Helvetica-R/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaBold/HelveticaNeue-Bold.woff') format('woff'),
        url('fonts/HelveticaBold/HelveticaNeue-Bold.ttf') format('truetype'),
        url('fonts/HelveticaBold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {  background-color: #e8e8e8; font-family: 'Helvetica Neue';}
a:hover .normal-img, button:hover .normal-img{display: none;}
a:hover .hover-img, button:hover .hover-img{display: block;}
body hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgb(112 112 112 / 0.22);
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 35px 41px 45px;
    margin: 0;
    /* shadows and rounded borders */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
.card-wrap{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.card-container {
    max-width: 472px;
    width: 100%;
    min-height: calc(100% - (1.75rem * 2));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto;
}

.card-body { padding: 1.5rem;}

.profile-img-card {
    max-width: 179px;
    width: 100%;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 40px;
}

.btn-signin, .btn-primary {
    background-color: #3060aa;
    color: #fff;
    font: normal normal normal 17px/20px Helvetica Neue;
    padding: 10px;
    border: 1px solid #3060AA;
    border-radius: 5px;
}
.btn-signin:focus, .btn-primary:focus{ box-shadow: none;  outline: none;}
.btn-signin:hover, .btn-primary:hover{ background-color: #fff; color: #3060aa;}
.btn-signin:disabled, .btn-primary:disabled{ opacity: 0.65; background-color: #3060aa; color: #fff;}
.errorArea {
    width: 100%;
    background-color: #ffecec;
    border: 1px solid #ff3d3d;
    color: #ff3d3d;
    border-radius: 5px;
    padding: 10px;
    text-transform: capitalize;
}
.errorArea p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
form .errorArea p{margin-bottom: 0;}
.btn-logout {
    background: #89ABE3FF;
    color: black;
    box-shadow: #AFAFAF;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.bgclass {
    background: #3060aa;
    color: #fff;
}
.form-group .form-control::placeholder{
    color: #C6CAC6;
}
.navbar-brand{margin-right: 0;}
#upnotification {
    position: fixed;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(23 22 22 / 83%);
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}


#myBar {
    width: 30%;
    height: 6px;
    border-radius: 5px;
    background-color: #3060AA;
}

.hidden {
    display: none;
}

.login-card-disable {
    opacity: 0.5;
    z-index: 1;
}

.summary-card {
    background-color: white;
    padding: 10px 3px;
    margin: 20px auto 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.summary-card-body {
    padding: 2rem;
}

.uploaded-claim {
    background: #EAF1FD 0% 0% no-repeat padding-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.uploaded-claim-header {
    letter-spacing: 0px;
    color: #4E8DEF;
}

.uploaded-claim-body {
    letter-spacing: 0px;
    color: #3060AA;
}

.not-uploaded-claim {
    background: #FFE6E6 0% 0% no-repeat padding-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.not-uploaded-claim-header {
    letter-spacing: 0px;
    color: #E02A2A;
}

.not-uploaded-claim-body {
    letter-spacing: 0px;
    color: #BA1111;
}

.vertical-line{
    border-left: 1px solid black;
    margin: 10px 0px;
}

.form-check-label{
    font: normal normal normal 17px/20px Helvetica Neue;
    letter-spacing: 0px;
    color: #7A7D83;
    background: #F7F7F7;
    padding: 6px 10px 6px 27px;
    border-radius: 5px;
    border: 1px solid #989CA3A6;
    border-radius: 5px;
    background: #fff;
}
form .form-group .custom-checkbox{
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
form .form-group .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    outline: none;
    margin: 0;
}
form .form-group .custom-checkbox input[disabled]{cursor: not-allowed;}
form .form-group .custom-checkbox .checkmark {
    position: absolute;
    top: 50%;
    left: 6px;
    height: 15px;
    width: 15px;
    background-color: #E6E6E6;
    border-radius: 50%;
    transform: translateY(-50%);
}
form .form-group .custom-checkbox:hover input ~ .checkmark {  background-color: #E6E6E6;}
form .form-group .custom-checkbox input:checked ~ .checkmark {  background-color: #3060AA;}
form .form-group .custom-checkbox input:checked ~ .form-check-label {
    border: 1px solid #3060AA;
    border-radius: 5px;
    background: #f8f8ff;
    color: #3060AA;
}
#version{
    position: absolute;
    left: 21px;
    top: 20px;
    font: normal normal normal 17px/20px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
}
.form-group { margin-bottom: 21px;}
.form-group .form-control {
    padding: 13px 15px;
    font: normal normal normal 17px/20px Helvetica Neue;
    letter-spacing: 0px;
    color: #9F9F9F;
    border-color: #C4C4C4;
}
.form-group .form-control:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid #3060AA
}
.user-action{
    background:rgba(0, 0, 0, 0.1);
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 10px 15px;
    min-width: 201px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.user-action h3{
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.user-action span{
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 9px;
    line-height: 11px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.user-action .btn-logout{
    width: 35px;
    height: 35px;
    background: rgb(17 53 110 / 0.53);
    border: 0;
    border-radius: 50%;
    padding: 9px 9px;
}
.user-action .btn-logout img{ vertical-align: baseline;}
.user-action .btn-logout:hover{background-color: #FFFFFF;}
.normal-img{display: block;}
.hover-img{display: none;}
.inner-container{ padding: 0 13px;}

/* Database Config CSS START */
.card.database-config_page{ margin-top: 43px; padding: 30px;}
.database-config { background: #FFFFFF; border-radius: 5px;padding-bottom: 10px;}
.database-config_page form .form-group .custom-checkbox input{left: auto;}
.database-config_page h5{
    text-align: left;
    font: normal normal normal 19px/23px Helvetica Neue;
    letter-spacing: 0px;
    color: #3060AA;
    margin: 0;
    padding: 11px 0 0;
}
.database-config_page h6, .database-config_page .form-label{
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #3C3C3C;
    padding: 0;
    margin: 0 0 8px;
}
.database-config_page .form-group .form-control {
    padding: 6px 12px;
    font: normal normal normal 11px/16px Roboto;
    letter-spacing: 0px;
    color: #787878;
    border: 0;
    background: #FAF7F7;
}
.database-config_page .row{ margin-right: -5px; margin-left: -5px;}
.database-config_page .col-sm-2, .database-config_page .col-sm-4,.database-config_page .col-sm-6, .database-config_page .col-sm-8{ padding-right: 5px; padding-left: 5px;}
.database-config_page .form-group{margin-bottom: 11px;}
.database-config_page form .form-group .custom-checkbox{ display: block;}
.database-config_page form .form-group .custom-checkbox .form-check-label{
    padding: 7px 12px;
    border: 0;
    background: #FAF7F7;
    font: normal normal normal 11px/14px Roboto;
    display: block;
}
.database-config_page form .form-group .custom-checkbox input:checked ~ .form-check-label{border: 0;background: #EAF1FD}
.database-config_page select.form-control:not([size]):not([multiple]){height: 28px;}
.database-config_page .form-group .form-control::placeholder{ color: #C6CAC6;}
.database-config_page .top-section{margin-bottom: 10px;}
.database-config_page .errorArea{ margin: 15px 0 10px; border: 0;font: normal normal normal 11px/12px Helvetica Neue;letter-spacing: 0px; color: #BA1111;}
.database-config_page .errorArea ul{ margin: 0; padding-left: 17px;}
.database-config_page .errorArea.warningError{ background-color: #fff7aa; color: #bc7102;}
.database-config_page .errorArea.successMessage{ background-color: #e6f4e7; color: #6cab6e;}
.database-config_page .btn-primary{padding: 8px 10px; font: normal normal normal 16px/21px Roboto;}
.database-config_page .test-btn{margin: 25px 0 20px;}
.database-config_page .form-group select.select-bg{
    background: url('./images/down-arrow_icon-gray.svg') no-repeat right center #FAF7F7;
    background-size: 8px;
    background-position: 96%;
    -webkit-appearance: none;
}
/* Database Config CSS END */

/* Extract Page CSS START */
.extract_page{margin-top: 43px; padding: 0;}
.extract_page .inner-container{padding: 0 19px;}
.extract_page h5{
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #3060AA;
    margin: 0;
}
.extract_page .form-group .form-control{
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3060AA;
    padding: 9px 11px;
    border: 1px solid #B9D3FC;
    border-radius: 5px;
    background: #EAF1FD;
    cursor: pointer;
    display: inline-block;
}
.extract_page .form-group { margin-bottom: 10px;}
.extract_page .form-group label {
    display: inline-block;
    margin-bottom: 7px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3C3C3C;
    font-weight: 500;
}
.extract_page .form-group .extract-btn{display: flex;align-items: flex-end;}
.extract_page form{margin-bottom: 20px; margin-top: 10px;}
.extract_page .form-group .form-control.select-date{ height: 38px; position: relative;z-index: 1; background: transparent;}
.extract_page .form-group .form-control.select-date{ background: url('./images/calendar_icon.svg')  96% 50% no-repeat ; background-size: 16px;}
.extract_page .form-group .form-control.select-date::-webkit-inner-spin-button { -webkit-appearance: none; display: none;}
.extract_page .form-group .form-control.select-date::-webkit-calendar-picker-indicator { -webkit-appearance: none; opacity: 0;}
.extract_page .form-group .extract-btn .btn-primary{font-size: 16px; line-height: 21px; padding: 7.5px 10px;width: 100%;}
.extract_page .form-group select.select-bg{
    background: url(./images/down-arrow_icon.svg) no-repeat right center #EAF1FD;
    -webkit-appearance: none;
    background-position: 96% 10px;
    background-size: 15px;
}
.date-row .col-sm-5{
    -ms-flex: 0 0 37.666667%;
    flex: 0 0 37.666667%;
    max-width: 37.666667%;
    background: #EAF1FD;
}
.date-row .col-sm-6{
    -ms-flex: 0 0 48.33337%;
    flex: 0 0 48.33337%;
    max-width: 48.33337%;
    background: #EAF1FD;
}
.extract_page form  .row.date-row{margin-left: 0; margin-right: 0;}
.extract_page .date-row .col-sm-5, .extract_page .date-row .col-sm-6, .extract_page .date-row .col-sm-8, .extract_page .date-row .col{ margin: 0 5px;  padding: 0;}
.gj-datepicker-md [role=right-icon]{right: 8px;top: 8px;}
.gj-datepicker-md {color:#3060AA}
/* Extract Page CSS END */

.alert{border:0;display: flex;padding: 12px;color: #565656;;border-radius: 6px;border-left:4px solid;box-shadow: 0 2px 4px rgba(0,0,0,0.24);}
.alert>.icon{height: 20px;width: 20px;flex-basis: 20px;flex-grow: 0;flex-shrink:0;max-width: 20px;background: center no-repeat;background-size: 20px 20px;margin-right: 12px;}
.alert-success{background:#e6f4e7;border-left-color:#80c683;}
.alert-warning{background:#fff1db;border-left-color:#ffba53;}
.alert-danger{background:#ffe7e0;border-left-color:#ff8761;}
.alert-success>.icon{background-image: url('./images/ic-success.svg');}
.alert-warning>.icon{background-image: url('./images/ic-warning.svg');}
.alert-danger>.icon{background-image: url('./images/ic-error.svg');}
.alert>.middle-block{padding-right: 12px;}
.alert>.middle-block>h6{font-size: 16px;line-height: 22px;font-weight: 700;margin: 0;color:inherit;}
.alert>.middle-block ul,.alert>.middle-block ul>li,.alert>.middle-block p{font-size: 14px;line-height: 20px;color:inherit;padding: 0;margin: 0;list-style: none;}
.alert .close{height: 32px;width: 32px;background: url('./images/ic-close.svg') center no-repeat;background-size: 20px 20px;opacity: 0.4;transition: all 0.2s ease;border:0;padding: 0;margin: -8px -8px -8px auto;flex-basis: 32px;flex-grow: 0;flex-shrink: 0;max-width: 32px;position: static;}
.alert .close:hover,.alert .close:focus,.alert .close:active{opacity: 0.72;}

/* update dialog */
.update-dialog {position: fixed;top: 50%;left: 50%;max-width: 350px;width: 100%;z-index: 999;padding: 20px;border-radius: 8px;background-color: #fff;box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);transform: translate(-50%, -50%);}
.update-dialog .title{font-size: 16px;line-height: 22px;font-family: 'Helvetica Neue',sans-serif;color: #505050;text-align: center;margin: 0 0 32px;}
.update-dialog .label-text{font-size:14px;line-height: 20px;font-family: 'Helvetica Neue',sans-serif;color: #3060AA;text-align: left;margin: 0 0 8px;}
.update-dialog #myProgress {width: 100%;background-color: rgba(48,96,170,0.3);margin: 0 0 4px;border-radius: 8px;}
.update-dialog .progress-stats{display: flex;text-align: left;font-size:14px;line-height: 20px;font-family: 'Helvetica Neue',sans-serif;color:#707070;padding-bottom: 24px;}
.update-dialog .progress-stats .right{margin-left: auto;text-align: right;}
.update-dialog .progress-stats p{margin: 0;}
.update-dialog .btn-primary{font-size:14px;line-height: 20px;font-family: 'Helvetica Neue',sans-serif;padding: 8px 16px;}