body {
    background-color: #e8e8e8
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-container.card {
    max-width: 450px;
    padding: 40px 40px;
}

.card-body {
    padding: 2rem;
}

.profile-img-card {
    width: 30%;
    height: 30%;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn-signin {
    background-color: #3060aa;
    color: #fff;
}
.btn-signin:disabled{
    opacity: 0.65;
    background-color: #3060aa;
    color: #fff;
}
.btn-primary:hover {
    background-color: #3060aa;
}

.errorArea {
    margin-left: 10%;
    width: 80%;
    background-color: #EAEAEA;
    border: 1px solid #AFAFAF;
    color: #ff3d3d;
    border-radius: 5px;
    padding: 10px;
}

.btn-logout {
    background: #89ABE3FF;
    color: black;
    box-shadow: #AFAFAF;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.bgclass {
    background: #3060aa;
    color: #fff;
}

.radio-bg {
    background-color: #eff5ff;
    color: #3060aa;
    position: relative;
}

.select-bg,
.select-bg:focus {
    background-color: #eff5ff;
    color: #3060aa;
}

.radio-right {
    position: absolute;
    right: 5%;
}

#upnotification {
    position: absolute;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #eaeaea;
    text-align: center;
}

#notification {
    position: fixed;
    /* top: 250px;
    left: 200px; */
    top: 35%;
    left: 24%;
    max-width: 400px;
    z-index: 999;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.login-card-disable {
    opacity: 0.5;
    z-index: 1;
}

.summary-card {
    background-color: white;
    padding: 10px;
    margin: 0 auto 25px;
    margin-top: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.summary-card-body {
    padding: 2rem;
}

.uploaded-claim {
    background: #EAF1FD 0% 0% no-repeat padding-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.uploaded-claim-header {
    letter-spacing: 0px;
    color: #4E8DEF;
}

.uploaded-claim-body {
    letter-spacing: 0px;
    color: #3060AA;
}

.not-uploaded-claim {
    background: #FFE6E6 0% 0% no-repeat padding-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.not-uploaded-claim-header {
    letter-spacing: 0px;
    color: #E02A2A;
}

.not-uploaded-claim-body {
    letter-spacing: 0px;
    color: #BA1111;
}

.vertical-line{
    border-left: 1px solid black;
    margin: 10px 0px;
}